/*  SETTINGS  */

    *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  GLOBAL  */

    html, body { margin: 0; padding: 0; color: #333; background: #f9f2e2; font-size: 1em; font-family: Arial, Helvetica, sans-serif; line-height: 1.5; -webkit-text-size-adjust: none; }
    input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
    a { color: #de127e; text-decoration: none; }
    .clear { width: 100%; height: 0px; clear: both; display: block; }
    .align-right { float: right; }
    .text-center { text-align: center; }


/*  HEADER  */

    #header { padding: 10px; background: #f9f2e2; text-align: center; border-bottom: 2px solid #e3d2b8; }
        #header img { display: block; margin: 0 auto; width: 140px; }


/*  BANNER  */

    #banner {}
        #banner img { width: 100%; display: block; }


/*  CONTENT  */

    #content {}
        #content .h1 { padding: 10px;  font-weight: bold;  vertical-align: middle; text-transform: uppercase;}
        #content .h1 img { float: left; padding: 0 10px 0 0; }
        #content .h1 a { display: block; }
        #content .h2 { padding: 10px;  font-weight: bold; text-transform: uppercase; }
            #content .box .item a.pic { float: left; padding: 0 10px 0 0; }
            #content .box .item a.pic img { display: block; }
            #content .box .item .text { margin: 0 0 0 0; }
        #content .intro { padding: 15px; font-weight: bold; background-color: #f5378f;
            color: #fff;}
        #content .meta { background-color: #facdd4; padding: 15px; }
        #content .detail { padding: 0 15px; }
        .content li{margin: 15px 0 15px 0;}

        .featured{ text-align: center; margin-top: 10px; border-top: 2px solid #e3d2b8;}
        .featured a { padding: 15px; display: block; border-bottom: 2px solid #e3d2b8; text-align: left; font-weight: bold;}

        .home-content .title {text-transform: uppercase; font-weight: bold;display: block;}
        .home-content img {float: left; margin: 5px 10px 10px 0; }
        .home-content p {margin-top: 0;}
        .home-content .item {border-top: solid 2px #e3d2b8; padding: 20px;}

/*  MENU  */

    #menu { background: #009ee3; color: #fff; text-align: center; text-transform: uppercase;}
        #menu a { padding: 15px; display: block; border-top: 2px solid #6cc9fd; text-align: left; color: #fff; }
        #menu .item:last-child a { border-bottom: none; }

/*  FOOTER  */

    #footer { padding: 15px; color: #999; clear: left;}

/* Mobile "preview" for large screens */

    @media screen and (min-width: 1024px) {
        html {
            background-color: #333;
        }
        body {
            max-width: 320px;
            margin: 0 auto;
        }
    }
